
a:visited {
    color: #BE1E2D;
}

a.headerlink {
    color: #BE1E2D;
}

.highlight .hll { background-color: #b6b6b6 }

@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Regular.ttf");
}